%default-input-styles
  background-color: $white
  color: $secondary
  font-weight: 500
  font-family: Inter, sans-serif
  font-size: $font-size-big
  line-height: $font-size-big
  text-align: right
%default-input-styles-important
  background-color: $white!important
  color: $secondary!important
.input
  display: flex
  flex-direction: column
  text-align: right
  &.file
    cursor: pointer
    max-width: 122px
    font-size: 12px
    text-align: center
    color: $blue
    input
      display: none!important
    &:hover
      text-decoration: underline
  &.enter

  input
    @extend %default-input-styles
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
    @extend %default-input-styles
    @extend %default-input-styles-important
    //&:autofill
    //  @extend %default-input-styles
    //  @extend %default-input-styles-important