<section class="error-page">
    <div>
        <div class="error-page__title">500 </div>
        <div class="error-page__subtitle">Мы уже фиксим</div>
        {{>link label="Назад к чатам" href="/" }}
    </div>
</section>

