<form class="file-form">
    <h2>Загрузите файл</h2>
    <label class="input-file">
        Выбрать файл на компьютере
        <input
                type="file"
                id="avatar"
                name="avatar"
                autocomplete="off"
        >
    </label>
    <div class="d-flex align-center" style="flex: 1 0 100%">
        {{{ buttonChangeAvatar }}}
    </div>
</form>