<section class="profile-page">
    <div class="profile-page__content">
        <div class="header">
            <div >
                <span>Поменять аватар</span>
                <div class="avatar"></div>
            </div>
            <h2>Roman</h2>
        </div>
        <form>
            {{#each fields}}
                <div>
                    <span>{{this.text}}</span>
                    {{> input name=this.name value=this.value}}
                </div>
            {{/each}}
        </form>
        <div class="profile-page__content-actions">
            <div>
                {{> button class="text" label="Изменить данные"}}
            </div>
            <div>
                {{> button class="text" label="Изменить пароль"}}
            </div>
            <div>
                {{> button label="Выйти" class="text error"}}
            </div>
        </div>
    </div>
    {{#dialog}}
        <form class="file-form">
            <h2>Загрузите файл</h2>
            <div >
                {{> input type="file" name="file" style="" labelClass="file" label="Выбрать файл на компьютере"}}
            </div>
            <div class="d-flex align-center" style="flex: 1 0 100%">
                {{> button class="" label="Поменять" style="width: 280px;"}}
            </div>
        </form>
    {{/dialog}}
</section>
