<section class="profile-page">
    <div class="profile-page__content">
        <div class="header">
            <img src="./src/assets/icons/Union.svg" alt="avatar"/>
            <h2>Roman</h2>
        </div>
        <form>
            {{#each fields}}
                <div>
                    <span>{{this.text}}</span>
                    {{> input name=this.name}}
                </div>
            {{/each}}
        </form>
        <div class="profile-page__content-actions">
            <div>
                {{> button class="text" label="Изменить данные"}}
            </div>
            <div>
                {{> button class="text" label="Изменить пароль"}}
            </div>
            <div>
                {{> button label="Выйти" class="text error"}}
            </div>
        </div>
    </div>
</section>