<section class="profile-page">
    <div class="profile-page__content">
        <div class="header">
            <img src="./src/assets/icons/Union.svg" alt="avatar"/>
            <h2>Roman</h2>
        </div>
        <form>
            <div class="input">
                <span>Почта</span>

                    <label>
                        <input id="email" value="">
                    </label>

            </div>
        </form>
    </div>
</section>