<div>Ссылки</div>
<ul>
    <li>
        <a href="/Page404">404</a>
    </li>
    <li>
        <a href="/Page500">500</a>
    </li>
    <li>
        <a href="/Profile">Профиль</a>
    </li>
    <li>
        <a href="/ChangeAvatar">Изменение аватара</a>
    </li>
    <li>
        <a href="/ProfileChange">Изменение профиля</a>
    </li>
    <li>
        <a href="/ProfileChangePassword">Изменение пароля профиля</a>
    </li>
</ul>


