.d-flex
  display: flex!important
.flex-row
  flex-direction: row!important
.flex-column
  flex-direction: column!important
.justify-center
  justify-content: center!important
.justify-start
  justify-content: flex-start!important
.justify-end
  justify-content: flex-end!important
.justify-space-between
  justify-content: space-between!important
.align-center
  align-items: center!important
.align-start
  align-items: flex-start!important
.align-end
  align-items: flex-end!important
.flex-0
  flex: 0 0 100%
.flex-1
  flex: 1 0 100%
.border-zero
  border: 0!important
